BPSSoap/WebContent/wsdl/BPSPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.nivi.com/BPSWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BPSWS" targetNamespace="http://www.nivi.com/BPSWS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.nivi.com/BPSWS/">
      <xsd:element name="sendBPSDetails">
           
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BPLoad" type="tns:bpLoadType"/>
    </xsd:sequence>
        </xsd:complexType> 
      </xsd:element>
      
      <xsd:complexType name="bpLoadType">
  <xsd:sequence>
   <xsd:element name="DateGenerated" type="xsd:string"/>
   <xsd:element name="BPLoadList" type="tns:bpLoadListType"/>   
  </xsd:sequence>
   </xsd:complexType>
      
       <xsd:complexType name="bpLoadListType">
  <xsd:sequence>
   <xsd:element name="BP" type="tns:bpType"/>   
  </xsd:sequence>  
   </xsd:complexType>
           
      
      
       <xsd:complexType name="bpType">
  <xsd:sequence>      
   <xsd:element name="TransactionRef" type="xsd:string"/>
   <xsd:element name="TransactionType" type="xsd:string"/>   
   <xsd:element name="TransactionNumber" type="xsd:string"/>   
   <xsd:element name="FirstName" type="xsd:string"/>   
   <xsd:element name="LastName" type="xsd:string"/>   
   <xsd:element name="Amount" type="xsd:string"/>   
  </xsd:sequence>
  
   </xsd:complexType>      
      
      
      <xsd:element name="sendBPSDetailsResponse" type="tns:output">
       </xsd:element>
    
      <xsd:complexType name="output">
       <xsd:sequence>        
        <xsd:element maxOccurs="1" minOccurs="0" name="bpsDetailsResponse" type="tns:bpsDetailsType">
        </xsd:element>
       </xsd:sequence>
      </xsd:complexType>
    
    <xsd:complexType name="bpsDetailsType">
  <xsd:sequence>
   <xsd:element name="TransactionNumber" type="xsd:string"/>
   <xsd:element name="status" type="xsd:string"/>
  </xsd:sequence>
   </xsd:complexType>
     
  
   
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendBPSDetailsResponse">
    <wsdl:part element="tns:sendBPSDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBPSDetails">
    <wsdl:part element="tns:sendBPSDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BPSWS">
    <wsdl:operation name="sendBPSDetails">
      <wsdl:input message="tns:sendBPSDetails">
    </wsdl:input>
      <wsdl:output message="tns:sendBPSDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPSSOAP" type="tns:BPSWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendBPSDetails">
      <soap:operation soapAction="urn:SendBPSDetails"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPSWS">
    <wsdl:port binding="tns:BPSSOAP" name="BPSPort">
      <soap:address location="http://localhost:8080/BPSSoap/services/BPSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
